body {
  background-image: url("/images/Characters.png");
  background-size: 100%;
  background-repeat: repeat;
}

#app {
    margin: auto;
    width: 65%;
    border: 3px solid green;
    padding: 30px;
    background-color: lightblue;
}

h1, h3 {
  text-align: center;
}

#newName {
  text-align: center;
}

li {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

img {
  display: block;
  width: 80%;
  margin: auto;
}