body {
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/489025926035629058/52EA2CFE1F03A5A1DCC9378ECCBB74A8F7BF3625/"), url("https://background-tiles.com/overview/black/textures/small/5026.png");
  background-size: 65%, 10%;
  background-repeat: no-repeat, repeat;
  background-position: center center, top left;
}

#app {
    margin: auto;
    width: 65%;
    border: 3px solid green;
    padding: 30px;
    background-color: lightblue;
}

h1, h3 {
  text-align: center;
}

#newName {
  text-align: center;
}

li {
  font-family: "Comic Sans MS", cursive, sans-serif;
}